{% extends 'base.html' %} {% load staticfiles %} {% block style %}
<link href="{% static 'dataTable/datatables.min.css' %}" rel="stylesheet"> {% endblock %} {% block content %}
<div class="row">
  <div class="container">
    <h1 class="text-center">Contacts Page</h1>
  </div>
  {% if messages %}
  <div class="container">
    <div class="alert alert-success">
      <strong>Success!</strong>
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
<div class="row">
  <div class="container">
    <div class="col-sm-12">
      <div class="col-sm-2">
        <a class="btn btn-default" data-toggle="modal" href="#modalid">Add Contact</a>
      </div>
      <div class="col-sm-2">
        <a class="btn btn-default" data-toggle="modal" href="#modalimportcsvid">Import from csv</a>
      </div>
      <div class="col-sm-2">
        <a class="btn btn-default" href="{% url 'contacts:exportcsv' %}">Export to csv</a>
      </div>
      <div class="col-sm-2">

      </div>
      <div class="col-sm-2">
        <a class="btn btn-default" href="{% url 'contacts:exportvero' %}">Export to Getvero</a>
      </div>
    </div>

    <div class="modal fade" id="modalid" role="dialog">
      <div class="modal-dialog">
        <form method="post" id="form-modal" action="{% url 'contacts:addcontact' %}">
          {% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Add Contact</h4>

            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="id_first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" maxlength="45" required id="id_first_name" />
              </div>
              <div class="form-group">
                <label for="id_second_name">Second Name</label>
                <input type="text" class="form-control" name="second_name" maxlength="45" required id="id_second_name" />
              </div>
              <div class="form-group">
                <label for="id_town">Town</label>
                <input type="text" class="form-control" name="town" maxlength="45" id="id_town" />
              </div>
              <div class="form-group">
                <label for="id_country">Country</label>
                <input type="text" class="form-control" name="country" maxlength="45" id="id_country" />
              </div>
              <div class="form-group">
                <label for="id_telephone">Telephone</label>
                <input type="text" class="form-control" name="telephone" maxlength="20" required id="id_telephone" />
              </div>
              <div class="form-group">
                <label for="id_email">Email</label>
                <input type="text" class="form-control" name="email" maxlength="45" required id="id_email" />
              </div>
              <div class="form-group">
                <label for="id_date_of_birth">First Name</label>
                <input type="date" class="form-control" name="date_of_birth" id="id_date_of_birth" />
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="bntclose">Close</button>
              <button type="submit" class="btn btn-primary" id=btnSave>Save contact</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalimportcsvid" role="dialog">
  <div class="modal-dialog">
   <form method="post" id="form-import" enctype="multipart/form-data" action="#">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Contacts</h4>
        </div>
        <div class="form-group panel-info">
          <div class="panel-heading">
            <label for="id_example">Example csv file</label>
          </div>
          <div>            
            <progress id="progress-bar" value="0" max="100" style="display:none; margin-bottom: 1em;"></progress>
            <label id="labelinfo"></label>
          </div>
          <div class="panel-body">
            <p>first_name,second_name,town,country,telephone,email,date_of_birth</p>
            <p>Jon,Ivanov,Kiev,USA,123412341234,jon@gmail.com,1987-09-21</p>
          </div>
        </div>
        <div class="modal-body">
            
          <div class="form-group">
            <label for="id_adres_file">Select and upload csv file</label>
            <button type="button" class="btn btn-primary js-upload-file">
              <span class="glyphicon glyphicon-cloud-upload"></span> Upload file
            </button>
            <input type="file" style="display: none;" id="fileupload" name="csvfile"
                data-url="{% url 'contacts:basicupload' %}"
                data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="bntcloseimportcsv">Close</button>

         
             

        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>

<hr>
<div class="row">
  <div class="container">
    <table class="table  table-bordered table-condensed" id="infTable">
      {% csrf_token %}
      <thead>
        <tr>
          <th class="text-center">№</th>
          <th class="text-center">first_name</th>
          <th class="text-center">second_name</th>
          <th class="text-center">town</th>
          <th class="text-center">country</th>
          <th class="text-center">telephone</th>
          <th class="text-center">email</th>
          <th class="text-center">date_of_birth</th>
          <th class="text-center">created_at</th>
          <th class="text-center">Action</th>

        </tr>
      </thead>
      <tbody></tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>town</th>
          <th>country</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tfoot>

    </table>

  </div>
</div>




{% endblock %} {% block javascript %}
<script src="{% static 'dataTable/datatables.min.js' %}"></script>
<script src="{% static 'jquery/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'jquery/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'jquery/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/contacts.js' %}"></script> 
<script src="{% static 'js/upload.js' %}"></script>
{% endblock %}